* {
  margin: 0;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  background-color: grey;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
}
ul li ul.dropdown {
  margin-left: 0px;
  background-color: brown;
  position: absolute;
  display: none;
}

ul li a:hover {
  margin-left: 0px;
  background-color: purple;
}
ul li:hover ul.dropdown {
  display: block;
  margin-left: 0px;
}
ul li:hover ul.dropdown li {
  margin-left: 0px;
  text-align: center;
  width: 100%;
}
